# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [14]:
df['Total Claim Amount'].isnull().sum()

0

In [16]:
df['Total Claim Amount'] = pd.to_numeric(df['Total Claim Amount'])

In [26]:
filtered_df = df[df['Total Claim Amount'] > 1000]

filtered_df = filtered_df[filtered_df['Response'] == 'Yes']

new_df = filtered_df.copy()

print(new_df)

      Customer       State  Customer Lifetime Value Response  Coverage  \
189    OK31456  California             11009.130490      Yes   Premium
236    YJ16163      Oregon             11009.130490      Yes   Premium
419    GW43195      Oregon             25807.063000      Yes  Extended
442    IP94270     Arizona             13736.132500      Yes   Premium
587    FJ28407  California              5619.689084      Yes   Premium
...        ...         ...                      ...      ...       ...
10351  FN44127      Oregon              3508.569533      Yes  Extended
10373  XZ64172      Oregon             10963.957230      Yes   Premium
10487  IX60941      Oregon              3508.569533      Yes  Extended
10565  QO62792      Oregon              7840.165778      Yes  Extended
10708  CK39096      Oregon              5619.689084      Yes   Premium

                  Education Effective To Date EmploymentStatus Gender  Income  \
189                Bachelor           1/24/11         Employed      F   51643
236                Bachelor           1/24/11         Employed      F   51643
419                 College           2/13/11         Employed      F   71210
442                  Master           2/13/11         Disabled      F   16181
587    High School or Below           1/26/11       Unemployed      M       0
...                     ...               ...              ...    ...     ...
10351               College            1/5/11    Medical Leave      M   20978
10373  High School or Below            2/8/11         Employed      M   55687
10487               College            1/5/11    Medical Leave      M   20978
10565               College           1/14/11         Employed      M   58414
10708  High School or Below           1/26/11       Unemployed      M       0

       ... Number of Open Complaints Number of Policies     Policy Type  \
189    ...                       0.0                  1  Corporate Auto
236    ...                       0.0                  1    Special Auto
419    ...                       1.0                  2   Personal Auto
442    ...                       0.0                  8   Personal Auto
587    ...                       0.0                  1   Personal Auto
...    ...                       ...                ...             ...
10351  ...                       1.0                  1   Personal Auto
10373  ...                       0.0                  1  Corporate Auto
10487  ...                       1.0                  1   Personal Auto
10565  ...                       2.0                  1   Personal Auto
10708  ...                       0.0                  1   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
189    Corporate L3            Offer2          Agent         1358.400000
236      Special L3            Offer2          Agent         1358.400000
419     Personal L2            Offer1         Branch         1027.200000
442     Personal L2            Offer1            Web         1261.319869
587     Personal L1            Offer2            Web         1027.000029
...             ...               ...            ...                 ...
10351   Personal L2            Offer2         Branch         1176.278800
10373  Corporate L2            Offer1          Agent         1324.800000
10487   Personal L3            Offer2         Branch         1176.278800
10565   Personal L3            Offer2          Agent         1008.000000
10708   Personal L3            Offer2            Web         1027.000029

       Vehicle Class Vehicle Size Vehicle Type
189       Luxury Car      Medsize          NaN
236       Luxury Car      Medsize            A
419       Luxury Car        Small            A
442              SUV      Medsize            A
587              SUV      Medsize            A
...              ...          ...          ...
10351  Four-Door Car        Small          NaN
10373     Luxury SUV      Medsize          NaN
10487  Four-Door Car        Small          NaN
10565            NaN          NaN          NaN
10708            SUV      Medsize            A

[67 rows x 25 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [28]:
filtered_df1 = df[df['Response'] == 'Yes']
print(filtered_df1)

      Customer       State  Customer Lifetime Value Response  Coverage  \
3      XL78013      Oregon             22332.439460      Yes  Extended
8      FM55990  California              5989.773931      Yes   Premium
15     CW49887  California              4626.801093      Yes     Basic
19     NJ54277  California              3746.751625      Yes  Extended
27     MQ68407      Oregon              4376.363592      Yes   Premium
...        ...         ...                      ...      ...       ...
10844  FM31768     Arizona              5979.724161      Yes  Extended
10852  KZ80424  Washington              8382.478392      Yes     Basic
10872  XT67997  California              5979.724161      Yes  Extended
10887  BY78730      Oregon              8879.790017      Yes     Basic
10897  MM70762     Arizona              9075.768214      Yes     Basic

                  Education Effective To Date EmploymentStatus Gender  Income  \
3                   College           1/11/11         Employed      M   49078
8                   College           1/19/11         Employed      M   66839
15                   Master           1/16/11         Employed      F   79487
19                  College           2/26/11         Employed      F   41479
27                 Bachelor           2/28/11         Employed      F   63774
...                     ...               ...              ...    ...     ...
10844  High School or Below            2/7/11         Employed      F   57693
10852              Bachelor           1/27/11         Employed      M   25998
10872  High School or Below            2/7/11         Employed      F   57693
10887  High School or Below            2/3/11         Employed      F   52583
10897                Master           1/26/11         Employed      M   37722

       ... Number of Open Complaints Number of Policies     Policy Type  \
3      ...                       0.0                  2  Corporate Auto
8      ...                       0.0                  1   Personal Auto
15     ...                       0.0                  1    Special Auto
19     ...                       1.0                  1   Personal Auto
27     ...                       0.0                  1   Personal Auto
...    ...                       ...                ...             ...
10844  ...                       0.0                  3   Personal Auto
10852  ...                       0.0                  2   Personal Auto
10872  ...                       0.0                  3   Personal Auto
10887  ...                       0.0                  7    Special Auto
10897  ...                       0.0                  8   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
3      Corporate L3            Offer2         Branch          484.013411
8       Personal L1            Offer2         Branch          739.200000
15       Special L1            Offer2         Branch          547.200000
19      Personal L2            Offer2    Call Center           19.575683
27      Personal L3            Offer2          Agent           60.036683
...             ...               ...            ...                 ...
10844   Personal L1            Offer2          Agent          547.200000
10852   Personal L2            Offer2    Call Center          791.878042
10872   Personal L3            Offer2          Agent          547.200000
10887    Special L2            Offer1          Agent          528.200860
10897   Personal L1            Offer1          Agent          158.077504

       Vehicle Class Vehicle Size Vehicle Type
3      Four-Door Car      Medsize            A
8         Sports Car      Medsize          NaN
15               SUV      Medsize          NaN
19      Two-Door Car        Large            A
27     Four-Door Car      Medsize          NaN
...              ...          ...          ...
10844  Four-Door Car      Medsize          NaN
10852            NaN          NaN            A
10872  Four-Door Car      Medsize          NaN
10887            SUV        Small            A
10897     Sports Car      Medsize            A

[1466 rows x 25 columns]

In [38]:
for x in df["Response"].unique():
    if x == 'Yes':
        for y in df["Policy Type"].unique():
            m = df[df["Policy Type"]== y]['Total Claim Amount'].mean()
            print(f"The mean Total Claim Amount for the Policy Type {y} was: {round(m,3)}")

The mean Total Claim Amount for the Policy Type Corporate Auto was: 429.667
The mean Total Claim Amount for the Policy Type Personal Auto was: 436.074
The mean Total Claim Amount for the Policy Type Special Auto was: 440.747

In [39]:
for z in df["Response"].unique():
    if z == 'Yes':
        for i in df["Gender"].unique():
            m1 = df[df["Gender"]== i]['Total Claim Amount'].mean()
            print(f"The mean Total Claim Amount for the Gender {i} was: {round(m1,3)}")

The mean Total Claim Amount for the Gender M was: 458.915
The mean Total Claim Amount for the Gender F was: 411.88

In [ ]:
# The highest Total Claim Amount, in average, is for the Special Auto Policy Type, and for the gender male

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [47]:
for s in df["State"].unique():
    c = df[df["State"]== s]['Customer'].count()
    if c > 500:
        print(f"The total number of customers who have policies in State {s} is: {c}")

The total number of customers who have policies in State Arizona is: 1937
The total number of customers who have policies in State California is: 3552
The total number of customers who have policies in State Washington is: 888
The total number of customers who have policies in State Oregon is: 2909
The total number of customers who have policies in State Nevada is: 993

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [54]:
df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median'])

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

In [ ]:
#Customers with a lower education level have a higher median Customer Lifetime Value, the males have a higher value
# than the females. The highest Customer Lifetime Value is for males with high school or below and the lowest
# is for males with bachelor.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here